<h3> Create a new order! </h3>
<%= form_for @order do |f| %>
  <% if current_user.admin? %>
    Account: <%= collection_select(:user, :id, User.all, :id, :email) %><br><br><!-- using order account_id attr to find user -->
  <% end %>
  <%= f.hidden_field :date, :value => Time.now %>
  <%= f.fields_for :order_items do |f| %>
    <%= f.label "Item: " %>
    <%= f.collection_select :item_id, Item.all, :id, :item_type, :include_blank => true %>
    <%= f.label "Quantity: "%>
    <%= f.select :quantity, (1..18), :include_blank => true %><br>
  <% end %>
  <%= f.submit %>
<% end %>
