<h1> Account Details </h1>

<%= render partial: 'accounts/orders_list', collection: @orders, as: :order %>
<br>
<h2 style="color:red">CURRENT BALANCE: $<%= current_balance(@account.balance) %></h2>
<h3 style="color:brown">PALLETS OUT: <%= @account.pallet_count %></h3>
<%= account_details(@account) %>
<br>
<%= form_for @note, :html=> {:class => 'js-new-note'} do |f| %>
  <%= f.hidden_field :account_id, :value => @account.id %>
  <%= f.text_field :content %>
  <%= f.button 'create new note' %>
<% end %>
<br>
<div id="show-note">

</div>
<div class='js-next-note-div'><button class='js-next-note-button'>NEXT</button></div>
